@import url("https://fonts.googleapis.com/css2?family=Playwrite+TZ+Guides&display=swap");
.header {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight:bolder;
  font-style: normal;
}
